extends layout

block content
  #banner.page-header
    .row
      .col-xs-12.col-lg-6
        h1 Loc8r
          small &nbsp; The best craft beer near you!
  .row
    .col-xs-12.col-sm-8
      .row-list-group
        .col-xs-12.list-group-item
          h4
            a(href="/location") Beer Deluxe
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-defult 100m
          p.address Federation Square Flinders St, Melbourne VIC 3000
          p
            span.label.label-warning Pale Ale
            | &nbsp;
            span.label.label-warning Amber Ale
            | &nbsp;
            span.label.label-warning Golden Ale
            | &nbsp;
        .col-xs-12.list-group-item
          h4
            a(href="/location") Beer Deluxe
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-defult 100m
          p.address Federation Square Flinders St, Melbourne VIC 3000
          p
            span.label.label-warning Pale Ale
            | &nbsp;
            span.label.label-warning Amber Ace
            | &nbsp;
            span.label.label-warning Golden Ale
            | &nbsp;
        .col-xs-12.list-group-item
          h4
            a(href="/location") Beer Deluxe
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-defult 100m
          p.address Federation Square Flinders St, Melbourne VIC 3000
          p
            span.label.label-warning Pale Ale
            | &nbsp;
            span.label.label-warning Amber Ace
            | &nbsp;
            span.label.label-warning Golden Ale
            | &nbsp;
    .col-xs-12.col-sm-4
      p.lead Looking for great craft beer? Loc8r helps you find the best craft bear near you. Fancy a pale ale, pilsner, or stout? Let Loc8r help you find the taste you're looking for.
